/* src/components/WelcomeSection.css */
.welcome-container {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  padding-top: 70px;
}

.welcome-image-container {
  position: relative;
  display: inline-block;
}

.welcome-image {
  width: 150px;
  height: auto;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  transform: scale(0.9);
}

.welcome-text {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Helvetica;
  font-weight: 500; 
  font-size: 30pt;
  text-decoration: none;
}

.welcome-text span {
  margin: 0 16px;
}

.welcome-text .black {
  color: black;
}

.welcome-text .blue {
  color: #003366; 
}

.description {
  opacity: 0;
  transition: opacity 1s ease-in-out 1.5s;
}

.animate .welcome-image {
  opacity: 1;
  transform: scale(1);
}

.animate .welcome-text {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.5s; 
}

.animate .description {
  opacity: 1;
}

.contact-us-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 10; /* Ensure the button is above other elements */
}